*{
    margin:0 ;
}
body{
    background-image: url("../pic/bgprofile.png");
    background-size: cover;
}
.nav-container ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #00000000;
  color: #000000;
  padding: 10px;
  opacity: 85%;
  
}

.nav-container ul li {
  margin-left: 100px;
  margin-top: 20px;
 
  
}

.nav-container ul li:last-child {
  margin-right: 0;
}
.nav-container ul li a:hover {
  color: #4d4d4d;
  
}
.nav-container ul li a {
  text-decoration: none;
  color: #000000;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.register {
    margin-left: 0.1em;

}

.register a {
    text-decoration: none;
    padding: 12px;
    background-color: #FFDEAD;
    border-radius: 6px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer; 
    transition: 0.5s;
    font-weight: bold;

}

.register a:hover {
    background-color: rgb(243, 182, 141);
    color: #000000;
    
    
    
}
.login {
    margin-left: 81em;

}

.login a {
    text-decoration: none;
    padding: 12px;
    background-color: #FFDEAD;
    border-radius: 6px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer; 
    transition: 0.5s;
    font-weight: bold;
}

.login a:hover {
    background-color: rgb(243, 182, 141);
    color: #000000;
}
.logo{
    margin-left: 1em;
    margin-right: 0.5em;

}
.title{
    color: rgb(61, 59, 59);
    margin-top: 15px;
    padding: 15px;
    font-size: 25px;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(65, 64, 64, 0.5);
    opacity: 80%;
    word-spacing: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.confirm{
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    font-size: 16px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: 0.4s ease-in;
    
    
}
.confirm:hover{
    color: #000;
    background-color: #ffffff;
   
    
    
}
.currentuser{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    color: rgb(0, 0, 0);

}
label{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000000;

}
input{
    width: 400px;
    height: 50px;
    margin-top: 40px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 6px;
    color: #000000;
    background-color: #ebebebbe;
    transition: 0.5s ease-in;
}
input:hover{
    background-color: #4e4e4eda;

}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}


form{
  height: 430px;
  width: 500px;
  background-color: rgba(118, 129, 131, 0.685);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  font-weight: bold;
  color: #000;
}
form *{
font-family:Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 35px;

}
.return {
background-color: #000000;
border: none;
color: white;
text-decoration: none;
display:flow-root;
margin-left: 20%;
margin: 25px ;
cursor: pointer;
width: 60px;
height: 60px;
border-radius: 50%;
transition: 0.5s ease-in;
}
.return p{
margin-top: 14px;
font-weight: bold;
font-size: 25px;
color: #fff;
}
.return:hover{
background-color: #696868;
}
.line{
    margin-left: 110px;
}